body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

.collapse {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/header-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Mis trabajos */

.imagines {
  height: 500px;
  width: 100%;
}

.card {
  background-color: rgb(83, 47, 117);
}

.fondo {
  background-color: rgb(36, 16, 54);
}
.hipervinculo {
  text-decoration: none;
}

/*Mis Habilidades*/


.habilidades{
  
  
  text-align: center;
}


.fa-html5 {
  color: rgb(150, 42, 3);
}
.fa-css3-alt {
  color: rgb(28, 28, 192);
}
.fa-bootstrap {
  color: rgb(70, 19, 117);
}

.fa-js {
  color: rgb(160, 160, 39);
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand {
    width: 100px;
  }
}
